@font-face{
    font-family: "SegoeBd";
    src: url('SegoeBd.ttf');
   
}
@font-face{
    font-family: "SegoeUI-Light";
    src: url('SegoeUI-Light.ttf');
   
}

@font-face{
    font-family: "Myriad-Pro_31655";
    src: url('Myriad-Pro_31655.ttf');
   
}

.header-area{
	backgournd: #465056;
	}
.header-area{
	background-color: #606A72;
    padding-top:10px;
	width:100%;
	height:100%;


}

/*Logo section*/

.logo{
    padding:15px 0px;
    color:white;
	
}
.logo h1{
    font-size: 26px;
	font-family: 'SegoeBd';
	text-transform: uppercase;
	font-weight:bold;


}
.blue{
    color:#4EC4F7;
}
/*Menu*/

.header-top-menu{
  
	
}
.header-top-menu ul{
margin-top:45px;


   
	
}
.header-top-menu ul li{
    display: inline;
	margin-left:15px;
	transition: 1s all;
	
	

}
.header-top-menu ul li a{
    display: inline;
    padding:10% 15px;
    text-decoration: none;
    font-family: SegoeBd;
	font-weight:bold;
	transition-duration: 0.3s;
	color:#fff;
	text-transform: uppercase;
	
	

}
.header-top-menu ul li:hover{
	color:#4bcaff;
	border:2px solid #4bcaff;
	
	}
.header-top-menu ul li a:hover{
    border-color: #4bcaff;
    color:#4bcaff;
		
	
}
.slider {
    background: url(
    img/backgroundimg.jpg);
    background-size: auto cover;
    color: #d1d2d4;
    padding: 20em 0;
    text-align: center;
	filter:grayscale(100%);
}

.slider-text-part h1{
    font-size: 30px;
    font-weight:200;
    background: rgba(76, 86, 92, 0.84);
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}
/*--services-part--*/
.service{
	background:#4bcaff;
	padding: 5em 0em 5em 0;
	}
.service-text {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
	padding-bottom: 10px;
}

.service-text:after {
    content: " ";
    width: 40px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 15px;
}
.ser-img {
    margin-top: 40px;
    color: #fff;
}

.ser-img h1{
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px;
    color: #fff;
	text-align:justify;
	text-transform: uppercase;
}
/*--portfolio-part--*/
.portfolio {
    padding: 5em 0em;
}

.portfolio h1 {
    float: left;
	text-transform:uppercase;
	color:#515f67;
	font-size:30px;
	font-family:SegoeUI-Light;
}

.portfolio h1:after {
    content: " ";
    width: 40px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 15px;
	
}
.container .mix{
  display: none;
}
.portfolio ul {
    list-style: none;
    float: right;
    margin-bottom: 50px;
}

.portfolio ul li {
    text-decoration: none;
    float: left;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.active {
    color: #4bcaff;
    border: 1px solid #4bcaff;
}

.mix{
	margin-right: 10px;
    margin-bottom: 15px;}
.mix img {
	width:270px;
	height:270px;
	background: url(img/pointer.png);
}


.mix:hover:before {
  content: '';
  display: block;
 
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.another {
    padding: 5em 0em;
    background: #525F67;
    color: #fff;
}

.custom h1, .another h1 {
    text-transform: uppercase;
}

.another p {
    margin: 40px 0px;
}
.another a{
    border: 1px solid #fff;
    padding: 12px 25px;
    color: #fff;
    font-weight: 500;
}
.contact h1:after, .doe h1:after, .custom h1:after, .ser:after {
    content: " ";
    width: 40px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 70px;
    margin-left: 15px;
}

.custom {
    padding: 3em 0em;
    background: #4DCAFF;
    color: #fff;
}

.custom h2{
   margin-top: 10px;
}

.custom p {
    float: left;
    clear: both;
    margin-top: 20px;
    font-size: 20px;
}

/*about section starts*/

#about{
    background-image:url("img/bgphoto.jpg");
    color:white;
    /*    filter:grayscale(100%);
        -moz-webkit-filter:grayscale(100%);*/
}
#about .overlay{
    background-color:rgba(0,0,0,0.5);
    padding:75px 0px;
}
#about .content{
    column-count: 2;
    moz-column-count: 2;
}
#about .content a{
    color:white;
}
#about .content .fa{
    border:2px solid white;
    padding:10px;
    margin:10px;
}

/*Testimonial section starts*/

#testimonial{
    padding:75px 0px;
}
.icon {
    float:right;
}
#testimonial p{
    font-family:SegoeUI-Light;
    font-size:28px;
}
#testimonial blockquote footer{
    color:#4BCAFF;
    font-size:14px;
}

/*Contact section starts*/

#contact{
    background-image:url(img/bg-holder.jpg);
    color:white;
}
#contact .overlay{
    background-color:rgba(0,0,0,0.5);
    padding:75px 0px;
}
#contact .address{
    position:relative;
    max-width:570px;
    color:white;
    margin-top:25px;
}
#contact form input{ 
    width: 470px; 
    background-color:transparent;
    border:2px solid white;
    border-radius:0;
    margin-bottom:35px;
}
#contact form textarea{ 
    height: 215px;
    background-color:transparent;
    border:2px solid white;
    border-radius:0;
}
#contact form .btn{ 
    background-color:#4BCAFF !important;
    border-radius:0;
    margin-top:20px;
    padding:1em 145px;
}

/*Footer section starts*/

#footer{
    padding:75px 0px;
    background-color:#353F47;
    color:#515F67;
}
#footer .navbar ul li {
    border-left: solid 1px black;
    margin:0px;
    padding:0px 15px;
}
#footer .navbar ul li:first-child {
    border-left: none;
}
#footer .navbar .nav-item a{
    color:#515F67;
}
#footer .navbar .nav-item a:hover{
    color:white;
}


